#page-header {
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #41729c;
    box-shadow: #00000081 0 3px 5px;
}

#header-inner {
    height: 100%;
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

#header-name {
    font-size: 2rem;
    font-weight: 700;
    color: #cee3f5;
    text-shadow: #00000081 1px 1px 5px;
}

#header-nav-box {
    height: 100%;
    width: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-nav-list {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav-item-box {
    
}

.header-nav-link {
    font-size: 1.25rem;
    color: #e2c076;
    text-decoration: none;
    text-shadow: #00000081 1px 1px 5px;
}

.header-nav-link:hover {
    color: #dbd0b8;
    text-shadow: #e2c076 0 0 10px;
    cursor: pointer;
}